@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-image: url('./images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

main{
    display: flex;
    flex-direction: column;
}

.header{
    margin: 1.5rem 2rem;
}

.image{
    width: 100%;
    height: 300px;
    background-image: url('./images/hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Content */
.content{
    margin: 1.5rem 2rem;
}

.content__title{
    text-align: center;
}

.content__title__header{
    font-size: 2rem;
    letter-spacing: 1rem;
    line-height: 2.5rem;
}

.top{
    font-weight: 300;
    color: var(--desaturated-red)
}

.bottom{
    font-weight: 600;
    color: var(--dark-grayish-red);
}

.content__description{
    text-align: center;
    color: var(--desaturated-red);
}

.content__description p{
    margin: 2rem 0 3rem 0;
    font-weight: 400;
}

.content_suscription{
    position: relative;
}

.content_suscription__text{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 2rem;
    border: 1px solid var(--desaturated-red);
    padding-left: 1.5rem;
}

input::placeholder{
    color: var(--desaturated-red)
}

.content_suscription__btn{
    outline: none;
    background: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 90%;
    border-radius: 2rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
    box-shadow: hsl(0, 74%, 74%) 5px 5px 15px;
}

.content_suscription__btn::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('./images/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.content_suscription__btn::before{
    content: '';
    width: 100%;
    height: 100%;
    top: 0%;
    left: -80%;
    background-image: url('./images/icon-error.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    visibility: hidden;
}

.content_suscription__btn:hover{
    background: linear-gradient(135deg, hsl(0, 80%, 95%), hsl(0, 74%, 74%));
}

.content_suscription__text:focus{
    outline: 2px solid var(--desaturated-red);
}

.show::before{
    visibility: visible;
}

.error{
    outline: 2px solid var(--soft-red);
}
